.productPage {
    // background-color: $secondColor;

    .header {
        background-color: $secondColor;

        .info {
            @include container();
            padding: 50px 0;
            text-align: center;
            nav{
                ol{
                    li{
                        a{
                            color: white;
                        }
                    }
                }
            }

            h1 {
                color: white;
                font-family: almarai;
                border-bottom: 1px solid whitesmoke;
                padding-bottom: 5px;
                width: fit-content;
                margin: auto;

            }

            p {
                color: whitesmoke;
                width: 80%;
                margin: auto;
                margin-top: 20px
            }
        }

    }

    .content {
        @include container();
        display: flex;
        flex-direction: column;
        @include media-up(md){flex-direction: row;}
        padding: 20px 20px;

        background-color: white;



        .right {
            width: 100%;
            @include media-up(md){            width: 70%;
            }

            .product-info {
                display: flex;
                flex-direction: column;

                @include media-up(md) {
                    flex-direction: row;
                }

                justify-content: space-between;
                margin: 10px 0;

                .head {

                    h2 {
                        font-family: almarai;
                        font-size: 22px;
                        font-weight: bold;

                        @include media-up(md) {
                            font-size: 32px;
                        }

                    }

                    ul {
                        li {
                            display: flex;
                            align-items: center;
                            gap: 2px;

                            i {
                                color: $secondColor;
                            }

                            p {
                                color: #7e7a7a;
                            }
                        }
                    }
                }

                .price {
                    ul {
                        li {
                            display: flex;
                            flex-direction: column;
                            gap: 0;

                            .total-price {
                                color: $secondColor;
                                font-size: 22px;
                                font-weight: bold;
                                padding: 0 5px;
                            }

                            span {
                                color: #7e7a7a;
                            }
                        }
                    }
                }
            }

            .image {
                margin-bottom: 20px;
                height: 400px;
                overflow: hidden;
                border-radius: 4px;
                border: 1px solid $secondColor;

                img {
                    box-shadow: 2px 2px 2px $secondColor;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s;

                    &:hover {
                        scale: 1.05;
                    }
                }
            }

            .general-review {
                margin-bottom: 20px;

                p {
                    border: 1px solid #eee;
                    padding: 20px;

                    width: 100%;
                }

                .fast-review {
                    border: 1px solid #eee;
                    padding: 20px;

                    h2 {
                        font-size: 22px;
                        font-weight: 600;
                    }

                    ul {
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;
                        flex-direction: column;

                        @include media-up(md) {
                            flex-direction: row;
                        }

                        li {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            @include media-up(md) {
                                flex-direction: column;

                            }

                            i {
                                color: $secondColor;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }


            .tabs {
                .nav {
                    margin-bottom: 20px;
                }

                background-color: white;

                .tab-content {
                    border: 1px solid $secondColor;
                    background-color: #d6eefa;
                    padding: 10px 15px;

                    h3 {
                        font-size: 20px;
                        font-family: cairo;
                        color: $secondColor;
                        margin-bottom: 10px;
                    }

                    .description {
                        display: flex;
                        flex-direction: column;

                        @include media-up(md) {
                            flex-direction: row;
                        }

                        justify-content: space-between;

                        div {
                            width: 100%;

                            @include media-up(md) {
                                width: 50%;
                            }

                            ul {
                                width: 100%;
                                padding: 0;

                                li {
                                    width: 95%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    border-bottom: 1px solid #ccc;
                                    padding: 10px 5px;
                                    position: relative;

                                    p {
                                        margin: 0px;
                                        font-size: 14px;
                                        font-weight: bold;
                                    }

                                    span {
                                        font-size: 12px;
                                        // font-weight: bold;
                                        color: $secondColor;

                                        &::before {
                                            position: absolute;
                                            content: ":";
                                            left: 50%;
                                            font-weight: bold;
                                            color: #ccc;

                                        }
                                    }
                                }
                            }
                        }

                    }


                    .gallary-product {

                        .images {
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
                            @include media-up(md){
                                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

                            }
                            .image {
                                width: 70px;
                                height: 70px;
                                @include media-up(md) {
                                    width: 150px;
                                    height: 150px;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    transition: 0.5s;

                                    &:hover {
                                        scale: 1.05;
                                    }
                                }

                                // cursor: pointer;


                            }
                        }
                    }

                    .video {
                        width: 100%;
                        height: 80%;
                        border-radius: 5px;
                        border: 1px solid $secondColor;
                        @include media-up(md) {
                            width: 300px;
                            height: 250px;
                        }

                        margin: auto;
                        overflow: hidden;
                        position: relative;
                        cursor: pointer;

                        &::after {
                            content: "click to view video";
                            font-size: 22px;
                            position: absolute;
                            top: 0;
                            left: 5px;
                            color: whitesmoke;
                            z-index: 4444;

                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            cursor: pointer;
                            transition: 0.3s;

                            &:hover {
                                scale: 1.05;

                            }
                        }
                    }

                    .map {

                        .map-container {
                            border: 1px solid $secondColor;
                            border-radius: 4px;
                            width: 100%;
                            height: 100%;
                            margin: auto;
                            background-color: #ccc;

                            iframe {
                                border-radius: 4px;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;

                            }
                        }

                    }

                    .enquire {

                        margin-bottom: 10px;
                        h3{
                            font-size: 16px;
                            font-weight: bold;
                        }

                        form {
                            .input {
                                width: 100%;
                                display: grid;
                                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                                @include media-up(md){
                                    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

                                }
                                gap: 10px;
                                margin-bottom: 10px;

                                input {
                                    width: 100%;
                                    padding: 5px 10px;
                                    border-radius: 4px;
                                    border: 1px solid $secondColor;

                                    &:focus {
                                        border: none;
                                        border: 0px;

                                    }
                                }
                            }

                            textarea {
                                width: 100%;
                                padding: 5px;
                                margin-bottom: 10px;
                                border: 1px solid $secondColor;
                                border-radius: 4px;


                            }


                            .btn-secondary {
                                display: flex;
                                justify-content: center;
                                width: 100%;
                            }


                        }

                    }

                }
            }

            // }


        }

        .left {
            padding:20px;
            margin-top: 10px;
            width: 100%;
            @include media-up(md){ width: 30%;}
            h4{
                font-size: 22px;
                font-family: almarai;
                font-weight: 500;
                color: $secondColor;
                margin-bottom: 10px;
            }
            form{
                margin-bottom: 20px;
                
                div{
                    span{
                        font-weight: bold;
                    }
                }
                .other{margin-top: 20px;}
                .search-area{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .search{
                        label{
                            margin-bottom: 5px;
                            font-weight: bold;
                        }
                        select{
                            width: 100%;
                            padding: 5px 10px;
                            border-radius: 8px;
                            border: 1px solid #ccc;
                            &:focus{
                                border: 1px solid $secondColor;
                            }
                            &:active{
                                border: 1px solid $secondColor;

                            }
                        }
                    }
                }
            }

        }
    }
}
.related-products{
    @include container();
    background-color: #ccc;

}