header{
    background-color:$bgColor2;
    height: 60px;
    @include flexbox(space-between,center,row);
    nav{
        @include container;
        @include flexbox(space-between,center,row);
        .logo-image{
            @include flexbox(center,center,row);
            gap: 10px;
            img{
                width:70px; margin-top: 15px;
            }
            h1{
                color: $mainColor;
            }
        }
        
        
        ul{
            list-style: none;
            // @include flexbox;
            display: none;
            @include media-up(md){
                @include flexbox();
                
            }
            gap: 20px;
            transition: 0.3s;
            li{
                a{
                    text-decoration: none;
                    color:$mainColor;
                    font-weight: 700;
                    &:hover{
                        color:$secondColor;
                    }
                }
            }
        }
        .icons{
            
            display: none;
            @include media-up(md){@include flexbox(space-between,center,row);}
            gap: 15px;
            transition: 0.3s;
            a{
                color: $mainColor;
                font-weight: 600;

                
                &:hover{
                    scale: 1.2;
                    color: $secondColor;
                }
                i{font-size: 20px;}
            }
           
        }

        .mobile-nav-icon{
            display: flex;
            @include media-up(md){display: none;}
        }

    }
}

