

@mixin container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @each $breakpoint , $width in $container-widths{
        @media(min-width:map-get($breakpoints,$breakpoint)){
            max-width: $width;
        }
    }
}


@mixin media-up($breakpoint){
    @media(min-width:map-get($breakpoints,$breakpoint)){
        @content;
    }
}

@mixin flexbox($justify-content:space-between , $align-items:center,$flex-direction:row){
    display: flex;
    justify-content: $justify-content;
    align-items:$align-items ;
    flex-direction: $flex-direction;
}

@mixin bg-image($url-img){
    background-color: $mainColor;
    background-image: url($url-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin overlay(){
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.048);
    position: absolute;
}


