
$mainColor:#012B7F;
$secondColor:#4972AF;
$nionColor:#F7E731;
$linkColor:gray;
$btnColor:yellow;
$bg-color:royalblue;
$grayColor:#eee;
$bgColor1:white;
$bgColor2:whiteSmoke;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


$container-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

